.main {
    color: #444;
    background-color: #eee;
    font-family: "Segoe UI";
    margin: 0;
  }
  .main-kianu{
    width: 10%;
    height: 10%;
  }
  .main-list {
      width: 100%;
  }
  .main-list ul {
      text-align: center;
      list-style: none;
  }
  .footer {
    height: 100px;
    padding-top: 20px;
    background-color: #444;
    margin: 0;
  }
  .footer-rs{
    width: 60px;
    height: 60px;
  }